<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Módulo de Administración CondorSOF</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='960.css') }}" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="{{ url_for('static', filename='template.css') }}" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="{{ url_for('static', filename='colour.css') }}" type="text/css" media="screen" charset="utf-8" />
	</head>
	<body>
		<h1 id="head">Módulo de Administración - CondorSOF</h1>
		
			{% block navigation %}		
			<ul id="navigation">
				<li><span class="active">Usuarios</span></li>
				<li><a href="/roles">Roles</a></li>
				<li><a href="/casosdeuso">Casos de Uso</a></li>
				<li><a href="/createuser">Creación de Usuarios/Roles</a></li>
				<li><a href="/logout">Salir</a></li>
			</ul>
			{% endblock %}
		
		<div id="content" class="container_16 clearfix">
			<div class="grid_11">
				<h2>Título</h2>
				<p>
					{% block content %}
					{% endblock %}
				</p>
			</div>
			<div class="grid_5">
				{% block sidebar %}
				<h2>Usuarios</h2>
				<ol type=none>
					{% for user in users %}
					<li><a href="/user/{{ user.name }}/">{{ user.name }}</a></li>
					{% endfor %}					
				</ol>
				{% endblock %}
			</div>
		</div>

			<div id="foot">
				&copy; 2012 <a href="#">Universidad Distrital</a>, Todos los derechos reservados &reg;
			</div>
		
	</body>
</html>