{% extends 'users.html' %}
{% block content %}
<!-- Table (TABLE) -->
<h3 class="tit">Table</h3>
<table>
	<tr>
		<th>NOMBRE TABLA</th>
		<th>CONSULTA</th>
		<th>INSERCIÓN</th>
		<th>ACTUALIZAR</th>
		<th>BORRAR</th>
		<th>TRUNCAR</th>
		<th>CREAR LLAVES FORÁNEAS</th>
	</tr>
<form method="post">
{% for table in tables %}		
	<tr>
		<td>{{ table.name }}</td>
		<td><input type="checkbox" name="{{ table.name }}" value="select" {% if 'SELECT' in table.privs %} checked{% endif %}></td>
		<td><input type="checkbox" name="{{ table.name }}" value="insert" {% if 'INSERT' in table.privs %} checked{% endif %}></td>
		<td><input type="checkbox" name="{{ table.name }}" value="update" {% if 'UPDATE' in table.privs %} checked{% endif %}></td>
		<td><input type="checkbox" name="{{ table.name }}" value="delete" {% if 'DELETE' in table.privs %} checked{% endif %}></td>
		<td><input type="checkbox" name="{{ table.name }}" value="truncate" {% if 'TRUNCATE' in table.privs %} checked{% endif %}></td>
		<td><input type="checkbox" name="{{ table.name }}" value="references" {% if 'REFERENCES' in table.privs %} checked{% endif %}></td>
	</tr>
{% endfor %}
</table>
<input type="submit" value="Actualizar">
</form>
{% endblock %}